$breakpoints:(sm: 540px,
    md: 768px,
    xl: 1200px,
);

@mixin media-up($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    padding: 1em;

    @include media-up(xl) {
        width: calc(100% - 6em);
        height: calc(100% - 6em);
        padding: 3em;
    }

    & .login__title {
        font-size: 3em;
        text-align: left;
        width: 6em;
        margin-bottom: .3em;

        @include media-up(xl) {
            font-size: 4em;
        }
    }

    & .login__form-group {
        margin: .8em 0;
        position: relative;

        & .login__input {
            width: 16em;
            height: 3em;
            border: 0.125em solid #146356;
            box-sizing: border-box;
            border-radius: .4em;
            padding: .8em 1em;
            font-weight: 600;
            font-size: 1.1em;
            font-family: 'Inter', sans-serif;

            &:focus {
                outline: none;
            }

            @include media-up(xl) {
                width: 22em;
                height: 3em;
            }
        }

        & .login__icon-container {
            font-size: 2em;
            cursor: pointer;
            color: #146356;
            position: absolute;
            top: .25em;
            right: .3em;
        }

        & .login__error {
            font-size: .8em;
            color: #f44336;
            position: absolute;
            top: 4.1em;
            left: 0;
        }
    }

    & .login__submit-button {
        width: 16em;
        height: 3em;
        background: #146356;
        border-radius: .4em;
        color: #FFFFFF;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.1em;
        border: none;
        margin-top: 1em;

        @include media-up(xl) {
            margin-top: 1.5em;
            width: 22em;
            height: 3em;
        }
    }
}